.wrapper{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(12rem, 16rem));
    gap:2rem;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    margin-left: 20px;
}
.cardImage{
    height:12rem;
    width:100%;
    object-fit:cover;
}
.container{
    display:flex;
    justify-content:center;
    height:70vh;
    align-items: center;
}

.card{
    border:2px solid black;
    background: transparent;
    color:#fff;
}

.cardTitle{
    text-align: center;
}

.cardDescription{
    text-align: center;
}

.port-component{
    background-image: url(../src/utilities/blackbackground.png);
    background-size: cover;
    background-position: center;
}

.cardBtn{
    text-decoration: none;
    border:1px solid black;
    background: #888888;
    color:#e1e1e1 ;
    border-radius: 5px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    padding:5px;
    width:10vw;
    text-align: center;

}

.portfolioBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}