.about-container{
    display: flex;
    margin-left:20px;
    /* justify-content: center; */
    align-items: center;
    height:70vh;
}

.card-section{
    width:50vw;
    height:50vh;
    /* border:2px solid black; */
    border-radius:20px;
}

.card-body{
    display:flex;
    flex-direction: column;
    line-height:45px;
    font-weight: 500;
    /* align-items:center; */
}

.card{
    border:none;
}

.about-background{
    background-image: url(../src/utilities/black-paper-background.png);
    background-size: cover;
    background-position: center;
    color:white;
}

.resume-btn{
    color: #e1e1e1;
    background: #888888;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display:flex;
    justify-content: center;
    border-radius: 5px;
    width:10%;
  }