.resume-btn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border:2px solid black;
    border-radius: 5px;
}
.resume-component{
    text-align: center;
    margin-top:20px;
}

.footer-button{
    text-decoration: none;
}
   